{% extends 'layout/base_template.html' %}
{% block title %} Caste {% endblock title %}

{% block body_data %}
<form method="post">
 {% csrf_token %}
<div class="container">
  <h2>Caste</h2>

  <div class="row">
   <div class="col-md-12">
            <div class="card table-bordered">

                    <div class="card-header">
                    Create New Caste
                </div>
                <div class="card-body">

                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                           Religion:
                        </div>
                        <div class="col-md-6 bg-warning">
                            {{ form.religion }}
                        </div>
                    </div>

                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                           Caste Name:
                        </div>
                        <div class="col-md-6 bg-warning">
                            {{ form.caste_name }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 card-body2">
                        </div>
                        <div class="col-md-4">

                        <button class="btn btn-primary btn-btn">
                            Reset
                        </button>
                        </div>

                        <div class="col-md-4">
                        <button class="btn btn-success btn-btn">
                            Save
                        </button>
                        </div>


                    </div>



                    </div>

                </div>
            </div>
    </div>
</div>
       <div class="container">
    <div>
        <table border="1">
            <tr>
                <th>Sl No</th>
                <th>Religion</th>
                <th>Caste name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for obj in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{obj.religion}}</td>
                <td>{{obj.caste_name}}</td>
                <td><a href="{% url 'user_settings:edit_caste' pk=obj.id %}">Edit</a></td>
                <td><a href="{% url 'user_settings:delete_caste' pk=obj.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
</form>
{% endblock body_data %}