{% extends 'layout/base_template.html' %}
{% block title %} Mother Tongue {% endblock title %}

{% block body_data %}
<form method="post">
 {% csrf_token %}
<div class="container">
  <h2 class="header-list">Mothertongue</h2>

  <div class="row">
   <div class="col-md-12">
            <div class="card table-bordered">

                    <div class="card-header">
                    Create New Mothertongue
                </div>
                <div class="card-body">

                    <div class="row">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                           Mothertongue:
                        </div>
                        <div class="col-md-6">
                            {{ form.mothertongue_name }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">

                        <button class="btn btn-primary btn-reset">
                            Reset
                        </button>
                        </div>

                        <div class="col-md-4">
                        <button class="btn btn-success btn-save">
                            Save
                        </button>
                        </div>


                    </div>



                    </div>

                </div>
            </div>
    </div>
</div>
       <div class="container">
    <div>
        <table class="table table-bordered table-info table-striped">
            <tr>
                <th>Sl No</th>
                <th>Mothertongue</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for obj in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{obj.mothertongue_name}}</td>
                <td><a href="{% url 'user_settings:edit_mothertongue' pk=obj.id %}">Edit</a></td>
                <td><a href="{% url 'user_settings:delete_mothertongue' pk=obj.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
</form>

{% endblock body_data %}