{% extends 'layout/base_template.html' %}
{% block title %} Subjects {% endblock title %}

{% block body_data %}


<!--<div class ="test">Sample</div>-->

<table class="table table-primary">
    <tr>
        <th>Field</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Academic Year</td>
        <td>{{ object.academicyear.acyear_year }}</td>
    </tr>
    <tr>
        <td>Designation</td>
        <td>{{ object.ptadesignation.pta_designation_name }}</td>
    </tr>
    <tr>
        <td>Parent</td>
        <td>{{ object.parent.parent_name }}</td>
    </tr>
</table>

{% endblock body_data %}