<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<div style="height:30px">
<td><a href="/pta/des_create">Create </a></td>
</div>
<div style="height:100px">Index Of PTA Designation</div>
{% if object_list %}
    <table>
        <tr>
        <th>Designation</th>
        <th>Actions</th>
        </tr>
    {% for designation in object_list %}
        <tr>
        <td>{{ designation.pta_designation_name }}</td>
        <td><a href="/pta/des/{{ designation.id }}/">View </a></td>
        <td><a href="/pta/des_delete/{{ designation.id }}/">Delete </a></td>
        <td><a href="/pta/des_update/{{ designation.id }}/">Update </a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No PTA Designations Added.</p>
{% endif %}
</body>
</html>


