        <!DOCTYPE html>

        <html lang="">

        <head>
            <title>Asset Management In
            </title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
            <link href="CSS/style.css" rel="stylesheet" type="text/css" media="all">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


        </head>


        <body id="top">
        <form method="post">
            {% csrf_token %}
            <div class="container">
                <div>
                  <h2>Asset Management In
                  </h2>
              </div>

              <div class="row">
               <div class="col-md-12">
                <div class="card table-bordered table-student">
                    <div class="card-header">
                        Inward Asset Details
                    </div>
                    <div class="card-body">
                        <div class="row card-body2">

                            <div class="col-md-1"></div>
                            <div class="col-md-2 text-right">
                                Date:
                            </div>
                            <div class="col-md-2 bg-warning">
                                {{form.assetmgmtin_date}}
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2 text-right">
                                Merchant:
                            </div>
                            <div class="col-md-2 bg-warning">
                                {{form.merchant}}
                            </div>
                        </div>
                        <div class="row card-body2">

                            <div class="col-md-1"></div>
                            <div class="col-md-2 text-right">
                                Bill No:
                            </div>
                            <div class="col-md-2 bg-warning">
                                {{form.assetmgmtin_billno}}
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2 text-right">
                                Bill Amount:
                            </div>
                            <div class="col-md-2 bg-warning">
                                {{form.assetmgmtin_billamount}}
                            </div>
                        </div>


                    </div>







        <div class="row" style="margin-top: 50px;">

                <div class="col-md-3">
                </div>
                <div class="col-md-2 text-right">

                    <button class="btn btn-primary btn-btn">
                        Reset
                    </button>
                </div>
                <div class="col-md-2">
                </div>

                <div class="col-md-2 text-left">
                    <button class="btn btn-success btn-btn" onclick="return confirm('Are you sure you want add this bill');">
                        Submit
                    </button>
                </div>

                <div class="col-md-3">
                </div>



                    </div>
                </div>
               </div>
              </div>
            </div>
        </form>
    </body>
        </html>

