<!DOCTYPE html>
<html lang="en">
<head>
<title>Asset App</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="CSS/style.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="row mt-4" >
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <a href="{% url 'asset:AssetForms' %}" >
        <button class="btn btn-success btn-lg">
            Asset
        </button></a>
    </div>
    <div class="col-md-5">
        <a href="{% url 'asset:MerchantForms' %}" >
        <button class="btn btn-primary btn-lg">
            Merchant
        </button></a>
    </div>
    <div class="col-md-1"></div>
</div>
</body>
</html>