<!DOCTYPE html>

<html lang="">

<head>
<title>Merchant</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="CSS/style.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body id="top">
<form method="post">
    {% csrf_token %}
<div class="container">
  <h2>Merchant</h2>

  <div class="row">
   <div class="col-md-12">
            <div class="card table-bordered">
                <div class="card-header">
                    Create New Merchant Details
                </div>
                <div class="card-body">
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                           Merchant Name: 
                        </div>
                        <div class="col-md-6">
                            {{form.mer_name}}
                        </div>
                    </div>

                    <div class="row card-body2">
                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 offset-md-1 text-right">
                            Address: 
                        </div>
                        <div class="col-md-6">
                            {{form.mer_address}}
                        </div>
                    </div>

                    <div class="row card-body2">

                        <div class="col-md-1 card-body2">
                        </div>

                        <div class="col-md-3 offset-md-1 text-right">
                            Contact No: 
                        </div>
                        <div class="col-md-6">
                            {{form.mer_contactno}}
                        </div>
                    </div>
                     <div class="row card-body2">

                        <div class="col-md-1 card-body2">
                        </div>

                        <div class="col-md-3 offset-md-1 text-right">
                            Email: 
                        </div>
                        <div class="col-md-6">
                            {{form.mer_email}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 card-body2">
                        </div>
                        <div class="col-md-4">
                        
                        <button class="btn btn-primary btn-btn">
                            Reset
                        </button>
                        </div>
                        
                        <div class="col-md-4">
                        <button class="btn btn-success btn-btn">
                            Save
                        </button>
                        </div>


                    </div>


                    </div>
                </div>
            </div>
    </div>
</div>

</form>
</body>
</html>