<!DOCTYPE html>

<html lang="">

<head>
<title>Parent</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="CSS/style.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body id="top">

    <div class="container">
  <h2>Parent</h2>

  <div class="row">
   <div class="col-md-12">

    <div class="card table-bordered table-student">
                <div class="card-header">
                    Parent
                </div>
                <div class="card-body">
                    <div class="row card-body2">
                        
                        <div class="col-md-2 text-right">
                            Student Name: 
                        </div>

                        <div class="col-md-4 bg-warning">
                        ff
                        </div>

                        <div class="col-md-2 text-right" style="margin-left: -40px;">
                            Guardian Name: 
                        </div>

                        <div class="col-md-4 bg-warning" style="">
                        ff
                        </div>
                    </div>

                    <div class="row card-body2">
                        
                        <div class="col-md-2 text-right">
                            Relationship with Guardian: 
                        </div>

                        <div class="col-md-4 bg-warning">
                        ff
                        </div>

                        <div class="col-md-2 text-right" style="margin-left: -40px;">
                            Guardian Name: 
                        </div>

                        <div class="col-md-4 bg-warning" style="">
                        ff
                        </div>
                    </div>

                    <div class="row card-body2">

                        <div class="col-md-2 text-right col-formargin">
                            Registration Date: 
                        </div>

                        <div class="col-md-4 bg-warning">
                        ww
                        </div>
                    </div>

                    <div class="row card-body2">
                        

                        <div class="col-md-2 text-right col-formargin">
                            Name: 
                        </div>

                        <div class="col-md-4 bg-warning">
                        ww
                        </div>

                        <div class="col-md-2 text-right">
                        Gender
                        </div>

                        <div class="col-md-3 bg-warning">
                        ww
                        </div>
                    </div>
                    
                    <div class="row card-body2">
                        <div class="col-md-2 text-right col-formargin">
                            Address: 
                        </div>

                        <div class="col-md-4 bg-warning">
                        ww
                        </div>

                        <div class="col-md-2 text-right">
                            Date of Birth: 
                        </div>

                         <div class="col-md-3 bg-warning">
                        ww
                        </div>
                    </div>

                    <div class="row card-body2">
                        <div class="col-md-2 text-right col-formargin">
                            Email: 
                        </div>

                        <div class="col-md-4 bg-warning">
                        ww
                        </div>

                        <div class="col-md-2 text-right">
                            Blood Group: 
                        </div>

                        <div class="col-md-3 bg-warning">
                        ss
                        </div>
                    </div>

                    <div class="row card-body2">

                        <div class="col-md-2 text-right col-formargin">
                            Aadhaar No.: 
                        </div>

                        <div class="col-md-4 bg-warning">
                        ww
                        </div>
                    </div>

                    <div class="row card-body2">
                        <div class="col-md-2 text-right col-formargin">
                            Religion: 
                        </div>

                        <div class="col-md-4 bg-warning ">
                        ww
                        </div>

                        <div class="col-md-2 text-right">
                            Caste: 
                        </div>

                        <div class="col-md-3 bg-warning">
                        ww
                        </div>
                    </div>

                    <div class="row card-body2">
                        <div class="col-md-2 text-right col-formargin">
                            Which class admission is taken: 
                        </div>

                        <div class="col-md-4 bg-warning">
                        ww
                        </div>

                        <div class="col-md-2 text-right">
                             
                        </div>

                        <div class="col-md-3 bg-warning">
                        
                        </div>
                    </div>

                    <div class="row card-body2">
                        <div class="col-md-2 text-right col-formargin">
                            Nationality: 
                        </div>

                        <div class="col-md-4 bg-warning">
                        ww
                        </div>   
                    </div>

                    <div class="row card-body2">
                        <div class="col-md-2 text-right col-formargin">
                            State: 
                        </div>

                        <div class="col-md-4 bg-warning">
                        ww
                        </div>   
                    </div>   

                     <div class="row card-body2">
                        <div class="col-md-2 text-right col-formargin">
                            Mother tongue: 
                        </div>

                        <div class="col-md-4 bg-warning">
                        ww
                        </div>   
                    </div>

                     <div class="row btn-div">
                        <div class="col-md-4 card-body2">
                        </div>
                        <div class="col-md-4">
                        
                        <button class="btn btn-primary btn-btn">
                            Reset
                        </button>
                        </div>
                        
                        <div class="col-md-4">
                        <button class="btn btn-success btn-btn btn-save" onclick="return confirm('Are you sure you want to save this Staff Registration');">
                            Save
                        </button>
                        </div>

                    </div>
                 </div>
    </div>

   </div>
</div>


</body>
</html>