    <!DOCTYPE html>

    <html lang="">

    <head>
        <title>Parent</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="CSS/style.css" rel="stylesheet" type="text/css" media="all">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body id="top">
<div class="container">
        <div>
          <h2>Parent</h2>
      </div>

      <div class="row">
         <div class="col-md-6">
            <div class="card table-bordered table-student">
                <div class="card-header">
                    Father Details
                </div>
                <div class="card-body">
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Name:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Pernanent Address:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Communication Address:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Contact No:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Email:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Aadhaar:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Occupation:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="card table-bordered table-student">
                <div class="card-header">
                    Mother Details
                </div>
                <div class="card-body">
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Name:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Pernanent Address:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Communication Address:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Contact No:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Email:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Aadhaar:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>
                    <div class="row card-body2">

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-3 text-right">
                            Occupation:
                        </div>
                        <div class="col-md-6 bg-warning">
                            vdf
                        </div>
                    </div>

                </div>
            </div>



        </div>


    </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-12">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-2 text-right">

                            <button class="btn btn-primary btn-btn">
                                Reset
                            </button>
                        </div>
                        <div class="col-md-2">
                        </div>

                        <div class="col-md-2 text-left">
                            <button class="btn btn-success btn-btn" onclick="return confirm('Are you sure you want to activate this Academic Year');">
                                Save
                            </button>
                        </div>

                        <div class="col-md-3">
                        </div>


                    </div>
                </div>
            </div>

</body>
</html>