<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>Admission Details</div>
    <div>Adm No : {{ object.stud_admno }}</div>
    <div>Standard : {{object.standard }}</div>
    <div>Reg Date : {{object.stud_regdate }}</div>
</div>
<div>
    <div>Personal Details Student</div>
    <div>Name : {{object.stud_name }}</div>
    <div>Address : {{object.stud_address }}</div>
    <div>State : {{object.state }}</div>
    <div>Email : {{object.stud_email }}</div>
    <div>Adhar No : {{object.stud_adharno }}</div>
    <div>Religion : {{object.religion }}</div>
    <div>Caste : {{object.caste }}</div>
    <div>Nationality : {{object.stud_nationality }}</div>
    <div>Mother Tongue : {{object.mothertongue }}</div>
    <div>Date Of Birth : {{object.stud_dob }}</div>
    <div>Blood Group : {{object.get_stud_bloodgroup_display }}</div>
    <div>Gender : {{object.get_stud_gender_display }}</div>
</div>

</body>
</html>