<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Standards</h1>
<a href="{% url 'add-division' %}">Add</a>
<table border="1">
    <thead>
        <th>Slno</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>

    {% for division in object_list %}
        <tr>
            <td></td>
            <td>{{ division.div_name }}</td>
            <td>Edit</td>
            <td> <a href="deletedivision/{{ division.id }}/">Delete</a></td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">No Division Found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>